*{
    margin: 0;
    font-family: Helvetica;
}
header, footer{
    background-color: rgb(70, 130, 180);
    color: #FFF;
    height: 30px;
    text-align: center;
}
main{
    background-color: rgb(176, 196, 222);
    padding: 50px;
    text-align: center;
}
.lewy{
    background-color: rgb(70, 130, 180);
    color: #FFF;
    height: 300px;
    width: 80%;
    float: left;
}
.prawy{
    background-color: rgb(70, 130, 180);
    color: #FFF;
    height: 300px;
    width: 20%;
    float: left;
}
main > img{
    padding: 3px;
    border: 1px dashed blue;
    border-radius: 10px;

}
.lewy > img{
    height: 40%;
}
.lewy > img:hover{
    border: 1px solid white;
}
footer{
    clear: both;
}