body{
    margin: 0;
    font-family: garamond;
}
.baner{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    height: 50px;
}
.lewy{
    background-color: tan;
    height: 500px;
    width: 40%;
    float: left;
}
.g_prawy, .d_prawy{
    background-color: tan;
    height: 250px;
    width: 60%;
    float: left;    
}
.stopka{
    background-color: saddlebrown;
    color: white;
    clear: both;
}
form{
    background-color: saddlebrown;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 300px;
}
input{
    margin: 5px;
}
p:before{
    content: "STATUS ";

}
.baner > h1{
    margin-top: 0;
}